* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
}

.content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-color);
  padding: 64px 24px;
}

.calculator {
  max-width: 540px;
  width: 100%;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: var(--display-tx-color);
}

.info-container__title {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.533333px;
}

.info-container__actions {
  display: flex;
  align-items: flex-end;
  gap: 26px;
}

.info-container__actions-title {
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 29px;
  text-align: center;
  letter-spacing: 1px;
}

.info-container__switch-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.info-container__switch-labels {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 13px;
}

.info-container__switch {
  all: unset;
  box-sizing: border-box;
  width: 71px;
  height: 26px;
  border-radius: 13px;
  background-color: var(--calculator-bg-color);
  padding: 0 5px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.info-container__switch span {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--special-btn-bg-color);
}

.info-container__switch:hover span {
  background-color: var(--special-btn-ho-color);
}

.main-display {
  margin-top: 31px;
  background-color: var(--display-bg-color);
  height: 128px;
  border-radius: 10px;
  padding: 40px 32px 36px;
}

.main-display__text {
  font-style: normal;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 52px;
  text-align: right;
  letter-spacing: -0.933333px;
  color: var(--display-tx-color);
}

.calculator-body {
  background-color: var(--calculator-bg-color);
  padding: 32px;
  border-radius: 10px;
  margin-top: 24px;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, minmax(60px, 101px));
  grid-template-rows: repeat(5, 64px);
}

.calculator-body__btn {
  all: unset;
  background-color: var(--normal-btn-bg-color);
  color: var(--normal-btn-tx-color);
  border-radius: 10px;
  text-align: center;

  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 37px;
  letter-spacing: -0.666667px;
  cursor: pointer;

  box-shadow: 0px -4px 0px 0px var(--normal-btn-sh-color) inset;
}

.calculator-body__btn:hover {
  background-color: var(--normal-btn-ho-color);
}

.calculator-body__del {
  all: unset;

  border-radius: 10px;
  text-align: center;

  font-style: normal;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 26px;
  letter-spacing: -0.466667px;
  cursor: pointer;
}

.calculator-body__reset {
  all: unset;
  grid-column: span 2;

  border-radius: 10px;
  text-align: center;

  font-style: normal;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 26px;
  letter-spacing: -0.466667px;
  cursor: pointer;
}

.calculator-body__del,
.calculator-body__reset {
  background-color: var(--erase-btn-bg-color);
  color: var(--erase-btn-tx-color);
  box-shadow: 0px -4px 0px 0px var(--erase-btn-sh-color) inset;
}

.calculator-body__del:hover,
.calculator-body__reset:hover {
  background-color: var(--erase-btn-ho-color);
}

.calculator-body__equals {
  all: unset;
  grid-column: span 2;

  border-radius: 10px;
  text-align: center;

  font-style: normal;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 26px;
  letter-spacing: -0.466667px;
  cursor: pointer;

  background-color: var(--special-btn-bg-color);
  color: var(--special-btn-tx-color);
  box-shadow: 0px -4px 0px 0px var(--special-btn-sh-color) inset;
}

.calculator-body__equals:hover {
  background-color: var(--special-btn-ho-color);
}
